.container {
    padding: 25px;
    padding-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    background: var(--background-container);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    transition: all 0.4s ease-out;
}