.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  transition: all 0.4s ease-out;
}

.imgBack {
  background: var(--background-container);
  background-size: cover;
  position: fixed;
  height: 110vh;
  width: 110vw;
  z-index: -1;
}

.divLottie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background: var(--primary-container-color-project);
}
