.content1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
  max-width: 100%;
  height: 93%;
  margin: 1rem 0 1rem 120px;
}

.content1SmallBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
}

.content1Left {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  height: 95%;
  justify-content: space-between;
  align-items: flex-start;
}

.content1Title {
  width: 90%;
  color: #fff;
  padding-left: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem auto;
  padding: 1rem 0;
  border-bottom: 1px solid #d9d9d9;
}

.content1Nom {
  width: fit-content;
  border-bottom: 1px solid whitesmoke;
  color: var(--font-color);
  line-height: 5rem;
  word-break: keep-all;
  white-space: nowrap;
}

.content1DescriptionBox {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.content1Description {
  padding: 10px;
  width: 80%;
  height: 20%;
  color: var(--font-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.footerGauche {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  font-size: 1rem;
  margin: 2px 1rem;
  padding: 0 0.6rem;
  width: 60%;
  max-width: 450px;
  min-width: 350px;
  border: 1px solid #dadada;
}

.footerSmallDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.divImgs {
  display: flex;
  flex-direction: column;
}

.footerPLeft {
  display: flex;
  flex: 1 1 fit-content;
  color: var(--font-color);
  padding: 10px;
  font-weight: 600;
  max-width: 50%;
  font-size: 1.1rem;
  white-space: nowrap;
}

.footerPRight {
  color: var(--font-color);
  padding: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.footerImg {
  height: 50px;
  width: auto;
  margin: 10px;
  border-radius: 5px;
}

.aOtherProject {
  padding: 5px;
  margin-bottom: 0.5rem;
  align-self: center;
  border: 1px solid var(--info-border-color);
  border-radius: 30px;
  background: var(--weather-button-color);
}

.aOtherProjectText {
  padding: 10px;
  color: var(--font-color);
  white-space: nowrap;
}

.toAppear {
  display: none;
  color: coral;
  font-size: 1.5rem;
  text-align: center;
  width: 40%;
}

.content1Right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 110%;
}

.content1PhotoBox {
  position: relative;
  margin: 1rem 2rem;
  padding: 1rem;
  overflow: hidden;
  width: 80%;
  min-width: 400px;
  height: 90%;
  max-height: 35rem;
  border-radius: 100px;
  max-width: 900px;
}

.content1PhotoBox::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  padding: 5px;
  background: linear-gradient(
    45deg,
    var(--navigator-background),
    var(--navigator-background-actif)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  z-index: 2;
}

.bulletUL {
  margin-top: 1rem;
  display: inline-flex;
  list-style: none;
}

.bulletLi {
  text-indent: -3000px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  margin: 0 3px;
  cursor: pointer;
  background: var(--navigator-background);
}

.bulletLiOn {
  background: var(--navigator-background-actif);
}
