*{
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  flex-flow: column nowrap;
  background: var(--background-all);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-size: 1rem;
  line-height: 1.7rem;
  color: #282828;
}

h1 {
  font-size: 1.8rem;
  margin: 5rem auto;
  padding: 1rem 0;
  color: #282828;
  border-bottom: 1px solid #d9d9d9;
}

h2 {
  font-size: 1.2rem;
  color: white;
  padding: 10px;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 1rem 0;
  border-top: 1px solid #d9d9d9;
  color: #282828;
}

h4 {
  font-size: 1.2rem;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  color: #282828;
}

h5 {
  font-size: 1rem;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
}

ul {
  list-style: none;
}

li {
  font-size: 1.2rem;
  color: white;
  padding: 10px;
}

a {
  text-decoration: none;
}