.footerAll {
    margin-top: 5rem;
    display: flex;
    background-color: var(--footer-background-color);
    width: 100%;
}

.footerGauche {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1rem;
    margin: 2px 1rem;
    padding: 0 0.6rem;
    border-right: 1px solid white;
}

.footerSmallDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.6rem;
}

.divImgs {
    display: flex;
    flex-direction: column;
}

.footerH2 {
    color: #fff;
}

.footerP {
    color: #fff;
    padding: 10px;
}

.footerSpan {
    color: #fff;
    padding: 10px;
}

.footerImg {
    height: 50px;
    width: auto;
    margin: 10px;
    border-radius: 5px;
}

.footerDroite {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: end;
}

.footerSignature {
    text-align: right;
    padding: 10px 10px 0 0;
}

.footerSignatureP {
    color: #fff;
}

.toAppear {
    display: none;
    color: coral;
    font-size: 1.5rem;
    text-align: center;
    width: 40%;
}