:root {
  --font-color: #1d1b1e;
  --font-color-reverse: #f1f1f1;
  --contrast-color: 1;

  --background-container: #fffbff;
  --primary-color: #fff7ff;
  --primary-color-presentation: radial-gradient(
    circle at 110% -50px,
    #fff,
    #fff7ff 40%,
    #f9ecff 65%,
    #efdbff 75%,
    #fff7ff 75%
  );
  --primary-container-color: linear-gradient(240deg, #fff7ff 65%, #efdbff);
  --primary-container-color-project: #f9ecff;
  --primary-container-border-color: #9950e9;
  --weather-button-color: #f9ecff;

  --background-color-project: #fff;
  --title-border-color: #d9d9d9;
  --info-border-color: #555555;
  --project-background-color: #fafafa;
  --footer-background-color: #434343;
  --navigator-background: #218fff;
  --navigator-background-actif: #974ee7;
  --lang-background-color: linear-gradient(45deg, #d8d2cf, #d4e6ed);
}

[data-theme="dark"] {
  --font-color: #fff7ff;
  --font-color-reverse: #1e1e1e;
  --contrast-color: 0.95;

  --background-container: #1d1b1e;
  --primary-color-presentation: radial-gradient(
    circle at 110% -50px,
    #0e001b,
    #0e001b 55%,
    #2b0052 70%,
    #dbb8ff 75%,
    #0e001b 75%
  );
  --primary-color: linear-gradient(#0e001b, #0e001b);
  --primary-container-color: linear-gradient(60deg, #1a0033 80%, #6506b0);
  --primary-container-color-project: #1a0033;
  --primary-container-border-color: #c795ff;
  --weather-button-color: #6506b0;

  --background-color-project: #383838;
  --title-border-color: #fff;
  --info-border-color: #fff;
  --project-background-color: transparent;
  --footer-background-color: #343539;
  --navigator-background: #8fc7ff;
  --navigator-background-actif: #cfabfd;
  --lang-background-color: linear-gradient(45deg, #4c4947, #1a3742);
}

.main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1;
  margin-top: 0rem;
  padding: 0 1rem 1rem 1rem;
  min-width: 250px;
  height: 100%;
}

.titlesBox {
  position: relative;
  max-width: 180px;
  margin-top: 3rem;
  padding: 0 5px;
  flex: 1 1 100px;
}

.titles {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--font-color);
  opacity: var(--contrast-color);
  border-color: var(--title-border-color);
}

.presentationBigBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  height: 99vh;
  margin-bottom: 5rem;
  border: 1px solid var(--primary-container-border-color);
  border-radius: 30px;
  background: var(--primary-color-presentation);
}

.schoolBigBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  height: 99vh;
  margin: 5rem 0;
  border: 1px solid var(--primary-container-border-color);
  border-radius: 30px;
  background: var(--primary-color);
}

.schoolSmallBox {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  max-width: 100%;
  padding-right: 2rem;
  height: 93%;
}

.schoolPack2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 1;
  margin-bottom: 10px;
  height: 100%;
}

.workBigBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  height: 99vh;
  margin: 5rem 0;
  border: 1px solid var(--primary-container-border-color);
  border-radius: 30px;
  background: var(--primary-color);
}

.workSmallBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 100%;
  padding-right: 3rem;
  height: 90%;
  flex: 1;
}

.projectBigBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  height: 99vh;
  margin: 5rem 0;
  border: 1px solid var(--primary-container-border-color);
  border-radius: 30px;
  background: var(--primary-color);
}

.content2,
.content3 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  flex: 1 1 25%;
  max-width: 50%;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  height: 95%;
  border: 2px solid var(--primary-container-border-color);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  background: var(--primary-container-color);
}

.ulSchoolWork {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  list-style: none;
  margin-bottom: 1rem;
  justify-self: stretch;
}

.pLsy {
  width: fit-content;
  height: auto;
  white-space: nowrap;
  align-self: flex-end;
  font-size: 1rem;
  color: var(--font-color);
  opacity: var(--contrast-color);
}

.imgContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.pLsyImg {
  width: 50%;
  max-width: 120px;
  height: auto;
  max-height: 75px;
  background-color: var(--logo-background);
  border-radius: 10px;
  padding: 10px;
}

.liTitleSchool {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.5rem;
  font-weight: 600;
  filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.5));
  margin: 0.8rem 0 0.5rem 0;
  border-bottom: 1px solid;
  border-color: var(--title-border-color);
  height: 70px;
}

.liMajorSchool {
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.3rem;
  font-weight: 600;
  filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.2));
  margin-bottom: 1rem;
  height: 60px;
}

.liProf {
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.5rem;
  font-weight: 600;
  filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.3));
  padding-top: 1rem;
}

.liSchool {
  width: 100%;
  text-align: left;
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.8rem;
  padding: 0.5rem 0;
}

.liTitleWork {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.5rem;
  font-weight: 600;
  filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.5));
  margin: 0.8rem 0 0.5rem 0;
  border-bottom: 1px solid;
  border-color: var(--title-border-color);
  height: 80px;
}

.liDuree {
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.3rem;
  font-weight: 600;
  filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.2));
  margin-bottom: 1rem;
  height: 80px;
}
