.project {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  flex: 1 1 200px;
  margin-bottom: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  height: 95%;
}

.projectBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  border: 1px solid #dadada;
  background-color: var(--project-background-color);
}

.projectAllImgVidDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-right: 2px solid #000;
  width: 60%;
  min-height: 95%;
}

.projectImgBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.projectPhotoBox {
  width: 50%;
  margin: 1rem auto;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: #fafafa;
}

.projectPhoto {
  width: 100%;
  height: auto;
}

.projectPhotoLegend {
  text-align: center;
  font-size: 0.9rem;
}

.projectVideo {
  width: 80%;
  margin: 0.5rem auto;
  border-radius: 15px;
}

.projectTitle {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0;
  color: var(--font-color);
  opacity: var(--contrast-color);
  filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.5));
}

.projectDescriptionBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 40%;
  border: 1px solid;
  border-color: var(--background-color-project);
  height: 100%;
  background: var(--background-color-project);
}

.projectExpl {
  width: 90%;
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.2rem;
  padding: 0.6rem 0.5rem;
  margin: 0.4rem;
  text-align: justify;
}

.projectAbstractTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem auto;
  width: fit-content;
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.5rem;
  padding: 0.6rem 0.5rem;
  filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.5));
}

.projectAbstract {
  display: none;
  width: 90%;
  text-align: justify;
  color: var(--font-color);
  opacity: var(--contrast-color);
  line-height: 1.5rem;
  padding: 0.6rem 0.5rem;
  font-size: 1.2rem;
}

.projectAbstractAppButton {
  width: fit-content;
  color: var(--font-color-reverse);
  opacity: var(--contrast-color);
  line-height: 1.5rem;
  margin: 0.5rem 0 1rem 4rem;

  padding: 0.6rem;
  align-self: start;
  background-color: var(--info-border-color);
  border-radius: 25px;
  font-size: 1.1rem;
}

.projectAbstractDisButton {
  display: none;
  width: fit-content;
  color: var(--font-color-reverse);
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 4rem;
  padding: 0.6rem;
  align-self: start;
  background-color: var(--info-border-color);
  border-radius: 25px;
  font-size: 1.1rem;
}
