.project {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}

.projectBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    border: 1px solid #dadada;
    background-color: var(--project-background-color);
}

.projectAllImgDiv {
    display: inline-flex;
    align-items: center;
}

.projectPhotoBox {
    width: 45%;
    margin: 2rem auto;
    background-color: #fafafa;
}

.projectPhoto {
    width: 100%;
    height: auto;
}

.projectPhotoLegend {
    text-align: center;
}

.projectVideo {
    width: 80%;
    height: auto;
    margin: 2rem auto;
}

.projectTitle {
    font-size: 1.2rem;
    margin: 1rem auto;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid;
    border-color: var(--info-border-color);
    color: var(--font-color);
    filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.5));
}

.projectExpl {
    width: 75%;
    color: var(--font-color);
    line-height: 1.5rem;
    padding: 0.6rem 0.5rem;
    text-align: justify;
}

.projectAbstractTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem auto;
    width: fit-content;
    color: var(--font-color);
    line-height: 1.5rem;
    padding: 0.6rem 0.5rem;
    filter: drop-shadow(10px 5px 0.2rem rgba(69, 69, 69, 0.5));
}

.projectAbstract {
    display: none;
    width: 75%;
    color: var(--font-color);
    line-height: 1.5rem;
    padding: 0.6rem 0.5rem;
    text-align: start;
}

.projectAbstractAppButton {
    width: fit-content;
    color: var(--font-color-reverse);
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 4rem;
    padding: 0.6rem;
    align-self: start;
    background-color: var(--info-border-color);
    border-radius: 25px;
}

.projectAbstractDisButton {
    display: none;
    width: fit-content;
    color: var(--font-color-reverse);
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 4rem;
    padding: 0.6rem;
    align-self: start;
    background-color: var(--info-border-color);
    border-radius: 25px;
}